extends layout

block content
  .wrapper(data-event=current_event)
    .right 
      .colorbar
        .title WHAT'S HOT
      .box box 1
      .box box 2
    .main
      .header
        svg(width="100%", height="100%", viewBox="0 0 600 70", preserveAspectRatio="xMinYMin")
          rect.color-main(x="0", y="0", width="120", height="55")
          polygon.color-dark(points="0 70, 95 70, 110 55, 0 55")
          image(x="10", y="10", width="100", xlink:href="images/logo_pax.svg")
          text.white(x="130", y="45", text-anchor="left") TABLETOP LIBRARY
      .box
        h3 TOP TITLES
        .header-bar
          svg(width="100%", height="100%", viewBox="0 0 300 15", preserveAspectRatio="none")
            polygon.color-dark(points="0 15, 210 15, 225 0, 0 0")
            text.tiny.white(x="5", y="11", text-anchor="start") BOX
            text.tiny.white(x="55", y="11", text-anchor="start") TITLE
            text.tiny.dark(x="295", y="11", text-anchor="end") CHECKOUTS
        ul
          each game in games
            li
              span.box-image
              span.title= game.title
              span.checkouts= game.checkouts
      .diamond
        svg(width="100%", height="100%", viewBox="0 0 400 400")
          polygon.color-darkest(points="0 250, 250 0, 400 150, 150 400")
          polygon.color-darkest(points="0 150, 150 0, 400 250, 250 400")
          polygon.color-dark(points="0 300, 300 0, 400 100, 100 400")
          polygon.color-dark(points="0 100, 100 0, 400 300, 300 400")
          polygon.color-main(points="0 200, 200 0, 400 200, 200 400")
          image(x="115", y="90", width="170", xlink:href="images/logo_pax.svg")
          text.white.large(x="200", y="210", text-anchor="middle") WELCOME TO TABLETOP!
          text.white.small(x="200", y="255", text-anchor="middle") COME CHECK OUT A GAME, BRING
          text.white.small(x="200", y="280", text-anchor="middle") IT BACK, AND TRY AS MANY AS
          text.white.small(x="200", y="305", text-anchor="middle") YOU WANT.
      .box
        h3 LIBRARY STATUS
        .header-bar
          svg(width="100%", height="100%", viewBox="0 0 300 15", preserveAspectRatio="none")
            polygon.color-dark(points="0 15, 210 15, 225 0, 0 0")
        .stats-content
            .activity
              span.activity-color
              span.activity-text THE LIBRARY IS #{s(activity_level).humanize().toUpperCase().value()}
            - const statkeys = Object.keys(stats)
            each key in statkeys
              .stat-block
                span.number= stats[key]
                br
                span.desc= s(key).humanize().toUpperCase().value()
